.canvas-widget-app {
  padding: 1rem;
  max-width: 34rem;
  margin: 0 auto;
}

.library-logo-svg {
  display: block;
  width: 14rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .library-logo-svg {
    margin: 0;
  }
}

.text {
  max-width: 30em;
}

@media (min-width: 600px) {
  .canvas-widget-app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
